<div class="flex items-center">
  <button
    type="button"
    [disabled]="triggerDisabled"
    [class]="triggerStyleClass"
    (click)="openRequested.emit()"
    hlmBtn
    variant="default"
  >
    <i [class]="triggerIcon" aria-hidden="true"></i>{{ triggerLabel }}
  </button>
</div>

<app-dialog
  [visible]="visible"
  autoFocus="first-heading"
  (visibleChange)="visibleChange.emit($event)"
  [dismissableMask]="true"
  [styleClass]="styleClass"
  (onShow)="onShow()"
  (onHide)="hidden.emit()"
  [panelStyle]="{ width }"
>
  <ng-template #dialogHeader>
    <div
      class="bulk-dialog-heading"
      [class.bulk-dialog-heading--danger]="tone === 'danger'"
    >
      <span class="bulk-dialog-heading__icon"
        ><i [class]="headingIcon" aria-hidden="true"></i
      ></span>
      <div class="bulk-dialog-heading__copy">
        <span>{{ headingEyebrow }}</span>
        <strong>{{ headingTitle }}</strong>
      </div>
      @if (headingTooltip) {
        <app-tooltip
          class="bulk-dialog-heading__tooltip"
          [text]="headingTooltip"
        ></app-tooltip>
      }
    </div>
  </ng-template>

  <div class="bulk-dialog-body">
    @if (introTitle) {
      <section
        class="bulk-dialog-intro"
        [class.bulk-dialog-intro--danger]="tone === 'danger'"
      >
        <span class="bulk-dialog-intro__icon"
          ><i [class]="introIcon" aria-hidden="true"></i
        ></span>
        <div>
          <h3>{{ introTitle }}</h3>
          <p>{{ introDescription }}</p>
        </div>
        <span class="bulk-dialog-intro__state"
          >{{ selectedCount }} selected</span
        >
      </section>
    }

    <ng-content></ng-content>
  </div>

  <ng-template #dialogFooter>
    <div class="bulk-dialog-footer">
      <span>{{ footerNote }}</span>
      <div>
        <button
          type="button"
          [disabled]="cancelDisabled"
          class="dialog-button dialog-button--quiet"
          (click)="cancelRequested.emit()"
          hlmBtn
          variant="ghost"
        >
          Cancel
        </button>
        <button
          type="button"
          [class]="
            'dialog-button dialog-button--' +
            (tone === 'danger' ? 'danger' : 'primary')
          "
          (click)="actionRequested.emit()"
          hlmBtn
          [disabled]="actionDisabled || actionLoading"
          variant="default"
        >
          @if (actionLoading) {
            <i class="icon icon-loader-circle icon-spin" aria-hidden="true"></i>
          } @else {
            <i
              [class]="actionIcon"
              [style.order]="actionIconPos === 'right' ? 1 : 0"
              aria-hidden="true"
            ></i>
          }
          {{ actionLabel }}
        </button>
      </div>
    </div>
  </ng-template>
</app-dialog>
