<ng-content select="[import-prefix]"></ng-content>

<div class="import-dialog-grid">
  <section class="import-source" aria-labelledby="import-input-title">
    <div class="section-heading">
      <span class="section-icon"
        ><i class="icon icon-align-left" aria-hidden="true"></i
      ></span>
      <div>
        <h3 id="import-input-title">{{ inputTitle }}</h3>
        <p>{{ inputDescription }}</p>
      </div>
    </div>

    <div class="source-actions">
      <div class="source-action">
        <button
          type="button"
          [disabled]="clipboardPresent"
          class="source-button"
          (click)="pasteRequested.emit()"
          hlmBtn
          variant="default"
        >
          <i class="icon icon-clipboard" aria-hidden="true"></i>Paste from
          clipboard
        </button>
        @if (clipboardPresent) {
          <button
            type="button"
            class="source-clear"
            aria-label="Clear clipboard data"
            (click)="clipboardClearRequested.emit()"
          >
            <i class="icon icon-x" aria-hidden="true"></i>
          </button>
        }
      </div>

      <div class="source-action">
        <button
          type="button"
          [disabled]="filePresent"
          class="source-button"
          (click)="fileInput.click()"
          hlmBtn
          variant="default"
        >
          <i class="icon icon-file-input" aria-hidden="true"></i>Import from
          file
        </button>
        <input
          type="file"
          #fileInput
          [accept]="fileAccept"
          (change)="fileSelected.emit($event)"
        />
        @if (filePresent) {
          <button
            type="button"
            class="source-clear"
            aria-label="Clear imported file"
            (click)="fileClearRequested.emit()"
          >
            <i class="icon icon-x" aria-hidden="true"></i>
          </button>
        }
      </div>
    </div>

    <div class="import-textarea-shell">
      <textarea
        maxlength="109999"
        [placeholder]="textareaPlaceholder"
        [ngModel]="textareaValue"
        (ngModelChange)="textareaValueChange.emit($event)"
        [attr.aria-label]="textareaLabel"
      ></textarea>
      <span>{{ lineHint }}</span>
    </div>
  </section>

  <aside class="import-summary" aria-label="Import summary">
    <ng-content select="[import-summary]"></ng-content>
  </aside>
</div>
